/* Размер шрифта уведомлений */
div.uk-tooltip {
 font-size: large;
}

/* Высота таблиц */
.aggrid {
  height: 100%;
}

/* Заголовки колонок */
.ag-header-cell-text {
    text-overflow: clip;
    overflow: visible;      
    white-space: normal;
  }

/* Заголовки пиктограммы */
.header-emojii  .ag-header-cell-text  {
font-size: 30px; 
}

/* Многострочное поле ввода */
.ag-text-area-input {
font-size:16px !important; 
font-family: 'Proxima Nova Rg' !important;
font-weight: normal !important;
font-style: normal !important;         
}

/* Повышение плотности размещения ячеек данных в таблицах */
.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
padding-left: 10px !important;
padding-right: 10px !important;
}

.ag-theme-alpine-dark .ag-cell, .ag-theme-alpine-dark .ag-full-width-row .ag-cell-wrapper.ag-row-group {
padding-left: 10px !important;
padding-right: 10px !important;
}

/* Размер шрифта в ячейках */

* {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal ;
}


.aggrid * {
  font-size: 16px;  
}

button * {

  font-weight: bold !important;
  font-size: 16px !important; 
}